
/*#side_nav{
    background-color: #000000;
    min-width: 250px;
    max-width: 250px;
}
.content{
    min-height: 100vh;
    width: 100%;
}
hr.h-color{
    background: #eee;
}

.sidebar li.active{
    background-color: #eee;
    border-radius: 8px;
}
.sidebar li.active a, .sidebar li.active a:hover{
    color: #000;
}
.sidebar li a{
    color: #fff;
}
.sub-menu{
    padding: 6px 5px 14px 40px;
   /* display: none;
}
.sub-menu li{
    transition: all 0.4s ease;
}*/
.side-nav{
    min-width: 250px;
    max-width: 250px;
    background-color: #fff;
    /*padding: 20px;*/
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
}
.side-nav-head{
    text-align: center;
    margin-bottom: 50px;
    padding-top: 30px;
    background: url("../../../../assets/waves.png") no-repeat;
}
.side-nav-head img{
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.side-nav-head span{
    display: block;
    font-weight: 700;
    color: #313a46;
    font-size: 14px;
}
.side-nav-content{
    padding: 20px;
}
.side-nav-content ul{
    margin:  0;
    padding: 0 0 0 10px;
}
.side-nave-navigate{
    display: block;
    margin-bottom: 20px!important;
    font-size: 12px;
    color: #6c757d;
    font-weight: 700;
}
.side-nav-content ul li a{
    color: #6c757d;
}
.side-nav-content ul li a:hover{
    color: blue;
}
.side-nav-content ul li{
    margin-bottom: 15px;
}
.side-nav-content ul i{
    margin-right: 10px;
}
.side-nav-dropdown li:first-child{
    margin-top: 10px;
}
