<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">DNT</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-th d-inline"></i>
            Courses
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Développement Informatique</a></li>
            <li><a class="dropdown-item" href="#">Another Category</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">
              <span class="icon">
                <i class="fa fa-align-justify"></i>
              </span>
              All Courses
            </a></li>
          </ul>
        </li>
        
      </ul>
      <form class="d-flex col-lg-8">
        <input class="form-control me-2" name="query" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div class="container">
        <form>
  <div class="input-group">
    <input type="text" class="form-control col-ms-4" placeholder="Search" name="query">
    <div class="input-group-btn">
      <button class="btn btn-default" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>
</form>
      </div>
    </div>
  </div>
</nav>-->

<router-outlet></router-outlet>



