version: '3.4'

networks:
  backend:

services:
  # DB
  mariadb:
    image: mariadb:latest
    restart: always
    ports:
      #- 27018:27018
      - 3306:3306
    volumes:
      - ./backend/mysql-mydb:/data/db
    command: --default-authentication-plugin=mysql_native_password --character-set-server=utf8 --collation-server=utf8_general_ci  
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=lmsapi
      - MYSQL_USER=root
      - MYSQL_PASSWORD=root
    networks:
      - backend

  # API server
  backend:
    restart: always
    build:
      context: ./backend
      dockerfile: Dockerfile-api
    networks:
      - backend
    volumes:
      - ./backend:/usr/app/
     # - mysql-data:/var/lib/mysql
    environment:
      NODE_ENV: development
      DB_HOST: mariadb
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: lmsapi
      #- MYSQL_SERVER=mariadb
    command: bash
    tty: true
    ports:
      - "3007:3007"
    depends_on:
      - mariadb

  # Frontend
  frontend:
    restart: always
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    networks:
      - backend
    volumes:
      #- /app/node_modules
      - ./frontend:/app
    command: bash
    tty: true
    ports:
      - "3008:3008"
    

  #jenkins:
  #  image: jenkins/jenkins:lts
  #  ports:
  #  - "8080:8080"
  #  - "50000:50000"
  #  volumes:
  #  - jenkins_data:/var/jenkins_home
  #  - /var/run/docker.sock:/var/run/docker.sock
  #  environment:
  #  - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
  #  restart: always
#volumes:
#  jenkins_data:

  echo-server:
    image: ealen/echo-server:latest
    environment:
      - ENABLE__ENVIRONMENT=false
    ports:
      - 3000:80
  #nginx:
  #  depends_on:
  #    - backend
  #    - frontend
  #  restart: always
  #  build:
  #    dockerfile: Dockerfile.dev
   #   context: ./nginx
   # ports:
   #   - "3050:80"

      #172.19.0.3


#front:
    #container_name: canape_front
    #profiles: ["prod", "dev"]
    #build: ./frontend/
    #ports:
    #  - 8080:80
    #restart: always

#adminer:
    #image: adminer
    #profiles: ["dev"]
    #ports:
    #  - 62431:8080

#volumes:
  #db_data: {}      