.footer-area {
    background-color: #fff;
    padding: 30px 0;
    border-bottom: 6px solid #ec5252;
    border-top: 1px solid #e8e9eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo{
    margin-left: 35px;
}

.footer-nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-right: 20px;
}

.footer-nav ul li a{
    padding: 0 10px;
    font-size: 13px;
    color: black;
}
.footer-nav ul li a:hover{
    color: #003845;
}