<section style="background-color: #fafbfe; height: 0vmax; padding-bottom: 20px;" >
<app-head></app-head>
<section>
 <div class="dashbord-content">
    <app-sidebar></app-sidebar>
    <div class="dashbord-content-1">
        <div class="dashbord-content-head">
            <i class="mdi mdi-apple-keyboard-command title_icon"></i>
            <span>Dashbord</span>
        </div>
        <section class="admin-head-content">
            <ul>
                <li>
                    <i class="dripicons-archive text-muted" style="font-size: 24px;"></i>
                    <span>7</span>
                    <span>Nombre de Cours</span>
                </li>
                <li>
                    <i class="dripicons-camcorder text-muted" style="font-size: 24px;"></i>
                    <span>3</span>
                    <span>Nombre de Leçons</span>
                </li>
                <li>
                    <i class="dripicons-network-3 text-muted" style="font-size: 24px;"></i>
                    <span>20</span>
                    <span>Nombre d'inscriptions</span>
                </li>
                <li>
                    <i class="dripicons-user-group text-muted" style="font-size: 24px;"></i>
                    <span>120</span>
                    <span>Nombre d'étudiants</span>
                </li>
            </ul>
        </section>

    </div>
 </div>
</section>

</section>

