
<app-header></app-header>
<div >
<section class="lms-single-header">
    <div>
        <h4>Développement Nouvelles Technologies</h4>
        <p class="lms-single-subtitle">The Best Of Courses</p>
        <div>
            <div class="evaluation-infos">
                <span class="lms-single-badge">AVANCE</span>
                <div class="lms-single-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                </div>
                <span class="nbr-eval">(0 Evaluations)</span>
                <span>1 Etudiants inscrits</span>
            </div>
            <div class="cours-infos">
                <span>Créé par admin admin</span>
                <span>Dernière mise à jour lun,08-Aug-2022</span>
                <span>
                    <i class="fas fa-comment"></i>
                      Anglais
                </span>
            </div>
        </div>
    </div>
</section>
<section class="lms-single-sub-infos">
     <div class="lms-single-sub-infos1">
        <h4 class="lms-single-sub-infos1-title">Que vais-je apprendre ?</h4>
        <ul>
            <li>
                <i class="fa-solid fa-check"></i>
                Programmer un site web dynamique
            </li>
             <li>
                <i class="fa-solid fa-check"></i>
                Conceptualiser et Réaliser une application mobile
            </li>
        </ul>
     </div>
     <div  class="lms-single-sub-infos2">
       <div class="lms-single-sub-infos2-1">
        <h4>Curriculum pour ce cours</h4>
        <div>
            <span>1 leçons</span>
            <span>12:34:04 Heures</span>
        </div>
       </div>
       <div class="lms-single-sub-infos2-2">
        <div class="lms-single-sub-infos2-2-1">
            <h6>
                <i class="fa-solid fa-sliders"></i>
                Conception de site web 
            </h6>
            <span>04:08:62 Heures</span>
        </div>
        <ul>
            <li>
                <i class="fa-solid fa-circle-play"></i>
                <span>HTML</span>
            </li>
            <li>
                <i class="fa-solid fa-circle-play"></i>
                <span>CSS</span>
            </li>
            <li>
                <i class="fa-solid fa-circle-play"></i>
                <span>JavaScript</span>
            </li>
        </ul>
       </div>
     </div>
</section>
<section class="lms-single-conditions">
    <h4>Conditions</h4>
    <ul>
        <li>Connaitre au moins l'algorithme</li>
        <li>Connaitre au moins l'algorithme</li>
        <li>Connaitre au moins l'algorithme</li>
    </ul>
</section>
<section class="lms-single-description">
    <h4>La Description</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe aliquam at deserunt enim nisi quia possimus adipisci natus, eaque error temporibus laudantium vel iure vero quisquam, quae fugiat quasi. Odio.
    Voluptates magni sint voluptas nobis sit iusto minus ratione at cumque? Rerum error, fuga reiciendis magnam explicabo aut incidunt ea sit inventore suscipit ratione, facilis labore aliquam quod exercitationem nulla.
    Quidem saepe praesentium reiciendis impedit, earum deserunt autem maiores deleniti, amet, commodi beatae quis voluptate totam minima eligendi exercitationem. Maiores aperiam iste odit quaerat modi numquam corrupti, in dolore consequatur.
    Numquam tempore soluta quidem quo blanditiis, id, consequuntur obcaecati quis voluptatum inventore fuga tenetur delectus, atque provident nemo. At reiciendis veniam sunt ea maiores commodi facere ipsam tempora porro cum!
    Obcaecati fuga incidunt porro assumenda est perferendis nemo enim nulla. Nesciunt, deserunt? Qui nostrum quo molestiae laudantium, accusamus distinctio. Ad corrupti iusto molestiae est impedit dicta. Alias in incidunt repellendus.
    Iure nulla, aliquid possimus sint odit minima nobis mollitia id aperiam doloribus sit tempore asperiores incidunt maxime ipsum quibusdam dicta cumque veritatis sequi corporis excepturi et explicabo! Veniam, enim recusandae!
    Aliquam sunt est laborum quod sequi praesentium quibusdam aspernatur recusandae nam magni vitae, necessitatibus cupiditate quis et illum repellendus debitis dicta officiis in id. Consequuntur possimus facilis eaque optio iure.
    Consequuntur quam labore voluptatibus animi, ducimus laboriosam necessitatibus accusamus corrupti sit corporis molestiae perferendis libero eligendi voluptate nam placeat doloribus odio autem vitae aliquid quisquam similique temporibus commodi! Cumque, dolorum!
    Culpa illum magni distinctio est odio ex cupiditate consectetur, dicta rem excepturi temporibus sequi beatae quasi sunt voluptates atque saepe alias sit adipisci enim dolorum. Delectus, exercitationem corrupti! Dignissimos, fugit.
    Perferendis esse earum, facere delectus laboriosam cum rerum qui, magnam at tenetur consequuntur fugiat velit recusandae iusto non, nemo est deleniti amet iste dicta eum odio aut pariatur asperiores. Alias!</p>
    <div class="lms-view-more"></div>
    <span class="afficher-plus">+ Afficher plus</span>
</section>
<section class="lms-anexe-cours">
    <h4>Autres cours annexes</h4>
    <div class="lms-anexe-cours-sub">
        <ul>
            <li>
                <div>
                    <span class="lms-anexe-hour">00:00:00 Heures</span>
                </div>
                <div class="lms-anexe-cours-sub-title">
                    <h6><a href="">BDD</a></h6>
                    <span>Mise à jour lun.,08-Aug-2022</span>
                </div>
                <div class="lms-anexe-evaluation">
                    <span>
                        <i class="fas fa-star"></i>
                        0
                    </span>
                    <span>
                        <i class="fa-solid fa-user"></i>
                        0
                    </span>
                </div>
                <div class="lms-anexe-cours-sub-price">
                    <span>250€</span>
                    <span>500€</span>
                </div>
            </li>
            <li>
                <div>
                    <span class="lms-anexe-hour">00:00:00 Heures</span>
                </div>
                <div class="lms-anexe-cours-sub-title">
                    <h6><a href="">BDD</a></h6>
                    <span>Mise à jour lun.,08-Aug-2022</span>
                </div>
                <div class="lms-anexe-evaluation">
                    <span>
                        <i class="fas fa-star"></i>
                        0
                    </span>
                    <span>
                        <i class="fa-solid fa-user"></i>
                        0
                    </span>
                </div>
                <div class="lms-anexe-cours-sub-price">
                    <span>250€</span>
                    <span>500€</span>
                </div>
            </li>
            <li>
                <div>
                    <span class="lms-anexe-hour">00:00:00 Heures</span>
                </div>
                <div class="lms-anexe-cours-sub-title">
                    <h6><a href="">BDD</a></h6>
                    <span>Mise à jour lun.,08-Aug-2022</span>
                </div>
                <div class="lms-anexe-evaluation">
                    <span>
                        <i class="fas fa-star"></i>
                        0
                    </span>
                    <span>
                        <i class="fa-solid fa-user"></i>
                        0
                    </span>
                </div>
                <div class="lms-anexe-cours-sub-price">
                    <span>250€</span>
                    <span>500€</span>
                </div>
            </li>
            <li>
                <div>
                    <span class="lms-anexe-hour">00:00:00 Heures</span>
                </div>
                <div class="lms-anexe-cours-sub-title">
                    <h6><a href="">BDD</a></h6>
                    <span>Mise à jour lun.,08-Aug-2022</span>
                </div>
                <div class="lms-anexe-evaluation">
                    <span>
                        <i class="fas fa-star"></i>
                        0
                    </span>
                    <span>
                        <i class="fa-solid fa-user"></i>
                        0
                    </span>
                </div>
                <div class="lms-anexe-cours-sub-price">
                    <span>250€</span>
                    <span>500€</span>
                </div>
            </li>
        </ul>
    <div class="lms-view-more"></div>
    <span class="afficher-plus">+ Afficher plus</span>
    </div>
</section>
<section class="lms-users-infos">
    <h4>À propos de l'instructeur</h4>
    <div class="lms-users-infos-sub">
        <div class="lms-users-infos-sub-1">
            <img src="../../assets/profile.jpg" alt="">
            <ul>
                <li>
                   <i class="fas fa-comment"></i>
                   <span>0 avis</span>
                </li>
                <li>
                    <i class="fa-solid fa-user"></i>
                    <span>0 Étudiants</span>
                </li>
                <li>
                    <i  class="fa-solid fa-circle-play"></i>
                    <span>0 cours</span>
                </li>
            </ul>
        </div>
        <div class="lms-users-infos-sub-2">
            <h5><a href="">Ousmane Diouf</a></h5>
            <div class="lms-user-infos">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni ut nemo distinctio veritatis laudantium cupiditate, sed unde facere est, 
                quia sapiente voluptate enim necessitatibus a, obcaecati saepe recusandae officia dolor?</p>
                <div class="lms-view-more"></div>
                <span class="afficher-plus">+ Afficher plus</span>
            </div>
        </div>
    </div>
</section>
<section class="lms-best-user">
    <h4>Commentaires des étudiants</h4>
    <div class="lms-best-user-sub">
        <div class="lms-best-user-sub-left">
            <h1>0</h1>
            <div>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <span>Note moyenne</span>
        </div>
        <div class="lms-rating-evaluation-sub">
            <ul>
                <li>
                <div class="lms-rating-evaluation-sub-1">
                    <div class="lms-rating-evaluation-sub-1-1-1"></div>
                </div>
                <div class="lms-rating-evaluation-sub-1-etoile lms-rating-evaluation-sub-1-etoile-1">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <span>20%</span>
                </li>
                <li>
                <div class="lms-rating-evaluation-sub-1">
                    <div class="lms-rating-evaluation-sub-1-1-2"></div>
                </div>
                <div class="lms-rating-evaluation-sub-1-etoile lms-rating-evaluation-sub-1-etoile-2">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <span>40%</span>
                </li>
                <li>
                <div class="lms-rating-evaluation-sub-1">
                    <div class="lms-rating-evaluation-sub-1-1-3"></div>
                </div>
                <div class="lms-rating-evaluation-sub-1-etoile lms-rating-evaluation-sub-1-etoile-3">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <span>60%</span>
                </li>
                <li>
                <div class="lms-rating-evaluation-sub-1">
                    <div class="lms-rating-evaluation-sub-1-1-4"></div>
                </div>
                <div class="lms-rating-evaluation-sub-1-etoile lms-rating-evaluation-sub-1-etoile-4">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <span>80%</span>
                </li>
                <li>
                <div class="lms-rating-evaluation-sub-1">
                    <div class="lms-rating-evaluation-sub-1-1-5"></div>
                </div>
                <div class="lms-rating-evaluation-sub-1-etoile lms-rating-evaluation-sub-1-etoile-5">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <span>100%</span>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="lms-cours-infos">
    <div class="lms-cours-infos-1">
        <img class="lms-cours-tof1" src="../../assets/profile.jpg" alt="">
        <div class="lms-cours-infos-play">
            <img class="lms-cours-tof2" src="../../assets/icon-play.svg" alt="">
        </div>
    </div>
    <ul class="lms-post-infos">
        <li class="lms-price-post">
            <span>250€</span>
            <span>500€</span>
        </li>
        <li class="lms-price-post-btn-buy">
            <a href="">Acheter Maintenant</a>
        </li>
        <li class="lms-price-post-btn-cart">
            <button>Ajouter au panier</button>
        </li>
        <li>
            <h5>Comprend :</h5>
            <ul class="lms-posts-post">
                <li>
                    <i class="far fa-file-video"></i>
                    <span>00:00:00 Heures Vidéos à la demande</span>
                </li>
                <li>
                    <i class="fa-regular fa-file"></i>
                    <span>1 Leçons</span>
                </li>
                <li>
                    <i class="fa-regular fa-compass"></i>
                    <span>Accès à vie complet</span>
                </li>
                <li>
                    <i class="fa-solid fa-mobile-screen-button"></i>
                    <span>Accès sur mobile et TV</span>
                </li>
            </ul>
        </li>
    </ul>
</section>
</div>
<app-footer></app-footer>
